body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    text-align: center;
    margin: 248px auto;
    height: 400vh;
}

.wrapper>div>i {
    vertical-align: middle;
}

.wrapper>div:active {
    background: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.wrapper>div {
    margin-bottom: 16px;
    display: inline-block;
    width: 51px;
    height: 51px;
    line-height: 51px;
    text-align: center;
    font-size: 12px;
    color: #888;
    cursor: pointer;
    background: #fcfcfc;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}